<!DOCTYPE html>
<html>
<head>
	<title>Home</title>

	<meta charset="utf-8">

	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@900&family=Roboto:wght@400;600;900&display=swap" rel="stylesheet">	
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap" rel="stylesheet">

	<link rel="stylesheet" type="text/css" href="./css/style.css">

	<script type="text/javascript" src='./js/main.js' defer></script>
</head>
<body>
	<div id="loader">
	  	<div class="spinner"></div>
	</div>
	<header>
		<div id="logo">
			<span>M</span>arcanto
		</div>
		<ul>
			<li><a href="" class="active">Início</a></li>
			<li><a href="">Empresa</a></li>
			<li><a href="">Serviços</a></li>
			<li><a href="">Dúvidas Frequêntes</a></li>
			<li><a href="">Contato</a></li>
		</ul>
		<ul>
			<li><a href="" class="active">pt-br</a></li>
			<li><a href="">en-us</a></li>
		</ul>
	</header>
	<section id="hero">
		<div class="videoSlider">
			<div class="slide">
				<video autoplay muted loop id="myVideo">
				  <source src="https://cdn.videvo.net/videvo_files/video/free/2022-12/large_watermarked/221015_06_London%205_4k_021_preview.mp4" type="video/mp4">
				</video>
				<div class="slideText">
					<h3>Torne a Sua Marca Única</h3>
					<p>Proteja sua marca gratuitamente! Faça uma busca e garanta a exclusividade do seu nome no mercado. Evite conflitos jurídicos futuros. Busque agora a disponibilidade do nome da sua marca!</p>
				</div>
			</div>
			<div class="slide">
				<video autoplay muted loop id="myVideo">
				  <source src="https://joy1.videvo.net/videvo_files/video/free/video0472/large_watermarked/_import_61a071461a18b1.03763387_preview.mp4" type="video/mp4">
				</video>
				<div class="slideText">
					<h3>Pagamento Fácil e Acessível</h3>
					<p>Aceitamos pagamentos no cartão de crédito em até 12 vezes!</p>
				</div>
			</div>
			<div class="slide">
				<video autoplay muted loop id="myVideo">
				  <source src="https://joy1.videvo.net/videvo_files/video/free/2016-08/large_watermarked/160712_013_Maps_Brazil_1080p_preview.mp4" type="video/mp4">
				</video>
				<div class="slideText">
					<h3>Disponível no Brasil Inteiro</h3>
					<p>Nossos serviços estão disponíveis de norte à sul do país. Faça parte disso você também!</p>
				</div>
			</div>
			<div class="slider-dots">
				<span class="slider-dot active"></span>
				<span class="slider-dot"></span>
				<span class="slider-dot"></span>
			</div>
		</div>
	</section>
	<section id="aboutUs">
		<h2>Sobre Nós</h2>
		<p>Nós ajudamos você a registrar suas marcas, patentes, desenhos industriais e softwares no INPI. Com transparência e velocidade, tornamos o processo simples para você. Atendemos em todo o Brasil com rapidez e dinamismo. Proteja seus ativos criativos conosco.</p>	
	</section>
	<section id="whatWeDo">
		<h2>Nossos Serviços</h2>
		<div id="gallery">
			<div class="galleryItem">
				<h3>Registro de Marca</h3>
				<p>Registro de forma eficiente e segura do nome da sua empresa, produto ou serviço</p>
			</div>
			<div class="galleryItem">
				<h3>Registro de Desenho Indústrial</h3>
				<p>Obtenha exclusividade de uso do design do seu produto</p>
			</div>
			<div class="galleryItem">
				<h3>Registro de Software</h3>
				<p>Registre o seu programa de computador ou aplicativo e fique protegido contra pirataria</p>
			</div>
			<div class="galleryItem">
				<h3>Contratos de Propriedade Intelectual</h3>
				<p>Consultoria em franquias, licenciamento de marcas, patentes e direitos autorais</p>
			</div>
			<div class="galleryItem">
				<h3>Registro de Patentes</h3>
				<p>Proteja sua invençãoo, impésa cópias e lucre com a licenças remunerada da patente</p>
			</div>
			<div class="galleryItem">
				<h3>Conflitos Envolvendo Marcas e Patentes</h3>
				<p>Notificações, contra-notificações e outras medidas para a defesa da sua propriedade intelectual</p>
			</div>
			<div class="galleryItem">
				<h3>Registro de Direitos Autorais</h3>
				<p>Obtenha uma prova inequí­voca da autoria de sua obra artí­stica ou científica</p>
			</div>
			<div class="galleryItem">
				<h3>Registro de Marcas e Patentes no Exterior</h3>
				<p>Proteja sua marca ou patente em outros paí­ses e expanda seu negócio com segurança</p>
			</div>
		</div>
	</section>
	<section id="trustedBy">
		<h2>Confiado Por</h2>
		<div id="companies">
			<div class="company"></div>
			<div class="company"></div>
			<div class="company"></div>
		</div>
		<p>E por muitos outros...</p>	
	</section>
	<section id="contact">
		<h2>Entre em Contato</h2>
		<p>Nos ajude a deixar sua marca no mundo</p>
		<form>
			<label for="name">Nome <span>*</span></label>
			<input type="text" name="name" id="name">
			<label for="phone">Celular (WhatsApp) <span>*</span></label>
			<input type="text" name="phone" id="phone">
			<label for="email">E-mail <span>*</span></label>
			<input type="email" name="email" id="email">
			<label for="phone">Mensagem <span>*</span></label>
			<textarea rows="4" ></textarea>
			<button>Enviar</button>
		</form>
	</section>
	<footer>
		<h3>Todos os Direitos Reservados &copy; 2023 Marcanto</h3>
	</footer>
</body>
</html>